<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>7a780461e5391713c202772a59160eb1d40b326f</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=9DB219A6-64F9-49FB-9ED7-87D1A7A5E284
Date=2026-01-13;AP=22G100;BB=4.70.01;Machine=iPhone14,3
11:42:11 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
12:27:09 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
13:15:34 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1011;rat=1001
13:15:53 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1008;rat=1001
15:14:53 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1011;rat=1001
17:08:31 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
17:16:16 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
19:56:53 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
20:09:56 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
20:20:13 -0500 ST [clm] disconnect: duration=7;cause=kNoError;modemErr=1007;rat=1001
20:29:47 -0500 ST [clm] disconnect: duration=568;cause=kNoError;modemErr=1008;rat=1001
21:43:18 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
21:56:04 -0500 ST [clm] disconnect: duration=537;cause=kNoError;modemErr=1007;rat=1001
9:30:10 -0500 ST [clm] disconnect: duration=688;cause=kNoError;modemErr=1007;rat=1001
</string>
	<key>os_version</key>
	<string>iPhone OS 18.6.2 (22G100)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
