<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>7a780461e5391713c202772a59160eb1d40b326f</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=58387722-757F-4C20-9E94-F4AF1F89097C
Date=2026-01-11;AP=22G100;BB=4.70.01;Machine=iPhone14,3
14:12:53 -0500 ST [clm] disconnect: duration=32;cause=kNoError;modemErr=1007;rat=1001
12:56:21 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
</string>
	<key>os_version</key>
	<string>iPhone OS 18.6.2 (22G100)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
