<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>7a780461e5391713c202772a59160eb1d40b326f</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=1C129487-40D0-4C2B-AA25-FB68FF511998
Date=2025-12-11;AP=22G100;BB=4.70.01;Machine=iPhone14,3
9:03:31 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
9:03:41 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
9:03:56 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
9:07:58 -0500 ST [clm] disconnect: duration=213;cause=kNoError;modemErr=1007;rat=1001
12:36:27 -0500 ST [clm] disconnect: duration=121;cause=kNoError;modemErr=1008;rat=1001
13:41:14 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
16:53:05 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
16:59:18 -0500 ST [clm] disconnect: duration=570;cause=kNoError;modemErr=1008;rat=1001
17:10:09 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
17:10:42 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
17:16:07 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
18:11:21 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
18:14:02 -0500 ST [clm] disconnect: duration=3469;cause=kNoError;modemErr=1008;rat=1001
18:15:03 -0500 ST [clm] disconnect: duration=47;cause=kNoError;modemErr=1007;rat=1001
18:37:04 -0500 ST [clm] disconnect: duration=45;cause=kNoError;modemErr=1007;rat=1001
18:59:42 -0500 ST [clm] disconnect: duration=414;cause=kNoError;modemErr=1008;rat=1001
19:04:12 -0500 ST [clm] disconnect: duration=15;cause=kNoError;modemErr=1007;rat=1001
22:27:02 -0500 ST [clm] disconnect: duration=6250;cause=kNoError;modemErr=1007;rat=1001
23:55:50 -0500 ST [clm] disconnect: duration=5212;cause=kNoError;modemErr=1007;rat=1001
9:33:47 -0500 ST [clm] disconnect: duration=69;cause=kNoError;modemErr=1007;rat=1001
</string>
	<key>os_version</key>
	<string>iPhone OS 18.6.2 (22G100)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
