<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>7a780461e5391713c202772a59160eb1d40b326f</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=3CC503DE-F9B3-4E12-B8BF-169F89510C66
Date=2025-12-01;AP=22G100;BB=4.70.01;Machine=iPhone14,3
11:06:39 -0500 ST [clm] disconnect: duration=32;cause=kNoError;modemErr=1007;rat=1001
11:36:43 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
11:46:15 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
12:09:44 -0500 ST [clm] disconnect: duration=460;cause=kNoError;modemErr=1008;rat=1001
16:17:36 -0500 ST [clm] disconnect: duration=24;cause=kNoError;modemErr=1007;rat=1001
16:41:11 -0500 ST [clm] disconnect: duration=6;cause=kNoError;modemErr=1008;rat=1001
16:41:30 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
19:32:47 -0500 ST [clm] disconnect: duration=151;cause=kNoError;modemErr=1007;rat=1001
19:43:39 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
19:47:00 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
20:21:29 -0500 ST [clm] disconnect: duration=1823;cause=kNoError;modemErr=1007;rat=1001
21:11:40 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
21:11:53 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
21:12:32 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1010;rat=1001
0:35:11 -0500 ST [clm] disconnect: duration=6346;cause=kNoError;modemErr=1008;rat=1001
</string>
	<key>os_version</key>
	<string>iPhone OS 18.6.2 (22G100)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
