<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>7a780461e5391713c202772a59160eb1d40b326f</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=B640C022-AF7D-4000-8E86-A2FFC4FF5CA1
Date=2025-12-27;AP=22G100;BB=4.70.01;Machine=iPhone14,3
16:58:55 -0500 ST [clm] disconnect: duration=514;cause=kNoError;modemErr=1007;rat=1001
18:04:00 -0500 ST [clm] disconnect: duration=51;cause=kNoError;modemErr=1007;rat=1001
19:36:36 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1011;rat=1001
9:28:40 -0500 ST [clm] disconnect: duration=40;cause=kNoError;modemErr=1007;rat=1001
</string>
	<key>os_version</key>
	<string>iPhone OS 18.6.2 (22G100)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
