<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SysInfoCrashReporterKey</key>
	<string>7a780461e5391713c202772a59160eb1d40b326f</string>
	<key>bug_type</key>
	<string>195</string>
	<key>description</key>
	<string>Version=4
IncidentIdentifier=9D5B7DD9-535D-4EE4-A269-F16BC9C080D4
Date=2025-12-12;AP=22G100;BB=4.70.01;Machine=iPhone14,3
11:34:42 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
11:41:04 -0500 ST [clm] disconnect: duration=110;cause=kNoError;modemErr=1008;rat=1001
14:00:35 -0500 ST [clm] disconnect: duration=1130;cause=kNoError;modemErr=1007;rat=1001
14:51:34 -0500 ST [clm] disconnect: duration=0;cause=kNoError;modemErr=1007;rat=1001
14:53:50 -0500 ST [clm] disconnect: duration=71;cause=kNoError;modemErr=1007;rat=1001
15:59:59 -0500 ST [clm] disconnect: duration=605;cause=kNoError;modemErr=1007;rat=1001
16:18:58 -0500 ST [clm] disconnect: duration=99;cause=kNoError;modemErr=1007;rat=1001
21:30:24 -0500 ST [clm] disconnect: duration=240;cause=kNoError;modemErr=1007;rat=1001
1:30:56 -0500 ST [clm] disconnect: duration=14378;cause=kNoError;modemErr=1008;rat=1001
</string>
	<key>os_version</key>
	<string>iPhone OS 18.6.2 (22G100)</string>
	<key>system_ID</key>
	<string></string>
</dict>
</plist>
